<br>Hi <%= data.username %>,
<br><br>
<span>Welcome to <b>Get Outside!</b>
    <br> Your <b>Get Outside</b> account has been created successfully.
    <p>
        <br> Warm Regards,
        <br> Get Outside Team
    </p>
</span>